[submodule "pack/plugins/start/vimux"]
	path = pack/plugins/start/vimux
	url = https://github.com/./pack/plugins/start/vimux/
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/./pack/plugins/start/tabular/
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/./pack/plugins/start/ale/
[submodule "pack/plugins/start/csv.vim"]
	path = pack/plugins/start/csv.vim
	url = https://github.com/./pack/plugins/start/csv.vim/
[submodule "pack/plugins/start/yowish.vim"]
	path = pack/plugins/start/yowish.vim
	url = https://github.com/./pack/plugins/start/yowish.vim/
